{% extends 'core/base.html' %} {% load static %} {% block content %}

<div class="contenedorFormulario">
  <h3 class="border text-center p-3 mb-2 bg-primary text-white">
    Este es un formulario para que se hagan consultas, denuncias y pedido de
    informacion sobre animales.
  </h3>
  <div class="p-3 mb-2 bg-light text-dark">
    {% if "valido" in request.GET %}

    <p style="color: blue" ;>Información enviada correctamente, gracias</p>

    {% endif %}

    <form action="" method="POST" style="text-align: center">
      {% csrf_token %}
      <table style="color: black; margin: 20px auto">
        {{miFormulario.as_table}}
      </table>
      <input type="submit" value="Enviar" style="width: 150px" />
    </form>
  </div>
</div>

{% endblock %}
